@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'lato';

}

:root {
    --color-correct: #3FFF00;
    --color-wrong: #E60026;
    --color-neutral: linear-gradient(135deg, #3F0EC5, #1337EA);
}

body {

    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-neutral)
}

body.correct {
    background: var(--color-correct);
}

body.wrong {
    background: var(--color-wrong);
}

.container {
    width: 600px;
    max-width: 70%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.question{
    font-weight: bold;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {

    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    /* margin: 10px; */
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 8px;
    border: none;
    display: block;
    font-weight: bold;
}

.btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    border: 1px solid black;
}
.btn.correct{
    background: linear-gradient(110.1deg, rgb(34, 126, 34) 2.9%, rgb(168, 251, 60) 90.3%);
    
}
.btn.wrong{
    background: radial-gradient(486px at 37.5% -17.2%, rgb(255, 2, 2) 0%, rgb(254, 78, 172) 90%);
}
.start-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}